@if (Request.IsAuthenticated)
{
    <text>Welcome <strong>@User.Identity.Name</strong>! <a href="/Account/LogOff" class="btn">
        Log Off</a>
    </text>
}
else
{
    @: <a href="/Account/Register" class="btn">Register</a>&nbsp;&nbsp;&nbsp;<a href="/Account/LogOn"class="btn">Log On</a>
}
