<ul class="nav">
    <li class="active"><a href="/Home/Index">Home</a></li>
    <li><a href="/Donar/Index">Donars List</a></li>
    <li><a href="/BloodRequest/Index">Blood Request List</a></li>
    <li><a href="/BloodRequest/ForBlood">Request For Blood</a></li>
    @*<li><a href="#">Blog</a></li>*@
    @if (Request.IsAuthenticated)
    {
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin
            <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/Admin/Role">Role</a></li>
                <li><a href="/Admin/User">User</a></li>
                <li><a href="/Admin/Member">Member</a></li>
                <li><a href="/Admin/MemberDistrict">Member District</a></li>
                <li><a href="/Admin/MemberBloodGroup">Member Blood Group</a></li>
                <li><a href="/Admin/MemberDonateType">Member Donate Type</a></li>
                <li><a href="/Admin/MemberDonateWay">Member Donate Way</a></li>
                <li><a href="/Admin/MemberHospital">Member Hospital</a></li>
                <li><a href="/Admin/MemberStatus">Member Status</a></li>
                <li><a href="/Admin/MemberZone">Member Zone</a></li>
                <li><a href="/Admin/BloodRequest">Blood Request</a></li>
                <li><a href="/Admin/SendEmail">Send Email</a></li>
                <li><a href="/Admin/Post">Post</a></li>
                <li><a href="/Admin/Comment">Comment</a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Member
            <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/Member/Member">Member</a></li>
                @*<li><a href="/Member/RequestToMe">Request To Me</a></li>
            <li><a href="/Member/RequestForMe">Request For Me</a></li>*@
                <li><a href="/Member/Post">Post</a></li>
                <li><a href="/Member/Comment">Comment</a></li>
            </ul>
        </li>
    }
</ul>
