@model OSNB.ViewModels.MemberDonateWayViewModel
<div id="memberDonateWayDetailsPage">
    <!-- DonateWayName -->
    <div class="row-fluid">
        <div class="span4">
            <div class="control-label">
                @Html.LabelFor(model => model.DonateWayName)
            </div>
        </div>
        <div class="span8">
            @Html.DisplayFor(x => x.DonateWayName)
        </div>
    </div>
</div>
