@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="roleIndexPage">
    
    <div class="row-fluid" id="roleDataTableZone">
        <table id="roleDataTable" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        Role Name
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<script src="@Url.Content("~/Scripts/App/role-jq.js")" type="text/javascript"></script>
